В аптеку поступают партии лекарств. Их названия находятся в списке `names`, количество единиц товара находится в списке `counts`.

Напишите функцию `create_medications(names, counts)`, которая создает Series medications, индексами которой являются названия лекарств `names`, а значениями - их количество в поставке `counts`.

А также напишите функцию `get_percent(medications, name)`, которая возвращает долю количества товара с именем `name` от общего количества товаров в поставке в процентах.

In [19]:
import pandas as pd


def create_medications(names, counts):
    medications = pd.Series(data = counts, index = names)
    return medications

def get_percent(medications, name):
    return medications[name]*100/medications.sum()

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

37.5

Доходы (income), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков.

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

Создайте функцию create_companyDF(income, expenses, years), которая возвращает DataFrame, составленный из входных данных со столбцами Income и Expenses и индексами, соответствующими годам рассматриваемого периода.

Также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year.

**Примечание**. Если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.

In [20]:
import pandas as pd

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    # Составить датафрейм из входных данных
    # Столбцы: Income и Expenses
    # Индексы: годы рассматриваемого периода
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses,
    },
    index=years)
    return df

df = create_companyDF(income, expenses, years)

def get_profit(df, year):
    # возвращает разницу между доходом и
    # расходом из df за год year
    # если информауии по году нет в таблице,
    # вернуть None
    if year in df.index: # Если год есть в индексах таблицы
        # Вычисляем разницу между доходом и расходом
        difference = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else: # Иначе возвращаем None
        return None
    return difference
    
print(get_profit(df, 2018))

322

In [21]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [22]:
# какова цена объекта с индексом 15?
print(melb_data.iloc[90])

index                               90
Suburb                     Albert Park
Address                  24 Kerferd Pl
Rooms                                3
Type                                 h
Price                        1800000.0
Method                               S
SellerG                       Marshall
Date                        10/09/2016
Distance                           3.3
Postcode                          3206
Bedroom                            3.0
Bathroom                           2.0
Car                                1.0
Landsize                          90.0
BuildingArea                     122.0
YearBuilt                       1900.0
CouncilArea               Port Phillip
Lattitude                     -37.8421
Longtitude                    144.9571
Regionname       Southern Metropolitan
Propertycount                   3280.0
Coordinates         -37.8421, 144.9571
Name: 90, dtype: object

In [23]:
print(round(melb_data.loc[3521, 'Landsize']/melb_data.loc[1690, 'Landsize']))

3

In [24]:
print(melb_data.std()['Type'])

TypeError: could not convert string to float: 'Abbotsford'

**Финальное задание**

In [ ]:
import pandas as pd

Чтение данных

In [ ]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

Информация о столбцах таблицы:

In [ ]:
# Выводим n первых(последних) строк таблицы
student_data.head()
# student_data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

- *gender* — пол;

- *race/ethnicity* — раса/этническая принадлежность;

- *parental level of education* — уровень образования родителей;

- *lunch* — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);

- *test preparation course* — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);

- *math score, reading score, writing score* — баллы по математике, чтению и письму по сто балльной шкале.

Ответить на вопросы:

Данные о скольких студентах содержатся в таблице?

Количество студентов = количество строк в таблице => используем атрибут shape, кот возвращает кортеж с количеством строк и столбцов

In [ ]:
student_data.shape

(1000, 8)

Каков балл по письму у студента под индексом 155

In [ ]:
student_data['writing score'].loc[155]

88

Сколько суммарно пропущенных значений в таблице?

In [ ]:
student_data.info()
# 0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Сколько столбцов в таблице имеет тип данных `object`?

In [ ]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Каков у студентов средний балл по математике?

In [ ]:
student_data['math score'].mean()

66.089

Какая расовая группа является самой крупной в учебном заведении?

In [25]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [33]:
# Проведем фильтрацию таблицы по условию посещения курсов
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

Сколько студентов получили 0 баллов по математике?

In [38]:
# Проведем фильтрацию по условию и найдем число строк в таблице
student_data[student_data['math score'] == 0].describe()
# Значение смотрим в строке count

       math score  reading score  writing score
count         1.0            1.0            1.0
mean          0.0           17.0           10.0
std           NaN            NaN            NaN
min           0.0           17.0           10.0
25%           0.0           17.0           10.0
50%           0.0           17.0           10.0
75%           0.0           17.0           10.0
max           0.0           17.0           10.0

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [41]:
# Проведем две фильтрации
# Найдем средний балл по математике у студентов с оплачиваемым питанием
# Найдем средний балл по математике у студентов с льготным питанием
display(student_data[student_data['lunch'] == 'standard']['math score'].mean())
display(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

70.03410852713178

58.92112676056338

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [42]:
# Используем метод value_counts(), который 
# выводит долю каждого уникального значения в столбце о
# от общего числа наблюдений
student_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [45]:
# Проведем две фильтрации и вычислим медианное 
# и среднее значения в столбце writing score
display(student_data[student_data['race/ethnicity'] == 'group A']['writing score'].mean())
display(student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean())

62.674157303370784

67.82758620689656

In [47]:
67.82758620689656 - 62.674157303370784

5.153428903525771