##### <center> ИСПОЛЬЗУЕМ ФУНКЦИЮ READ_TEBLE()

Текстовый тип файлов (расширение `TXT`) — источник данных, который легко расшифровывать и интерпретировать. Для чтения данных из файлов такого типа *Pandas*, помимо функции `read_csv()`, предлагает и функцию `read_table()`.

- Функция `read_csv()` загружает данные с разделителями из файла, `URL`-адреса, и в качестве разделителя по умолчанию используется запятая (символ). В документации эта функция описана как «Чтение данных из файла значений, разделённых запятыми (`CSV`), в *DataFrame»*.

- Функция `read_table()` также загружает данные с разделителями из файла, *URL*-адреса, но в качестве разделителя по умолчанию используется символ табуляции (`'\t'`). В документации эта функция описана как «Чтение данных из файла значений с разделителями в *DataFrame»*.

Для демонстрации использования функции `read_table()` выполним следующее: 

- используя  функцию `read_csv()`, считаем данные из файла `countries.csv` в переменную `countries_data`, создав объект *DataFrame*;
- используя уже знакомую функцию `to_csv()`, выгрузим этот *DataFrame* в файл `countries.txt` (с расширением `TXT`), который сохраним в папке `data`. В качестве разделителя используется символ пробела ("` `").

In [2]:
import pandas as pd

# Загружаем данные в переменную
countries_data = pd.read_csv('data/countries.csv', sep=';')
# Выгружаем данные из DataFrame в csv-файл и сохраняем файл в папке data
countries_data.to_csv('data/countries.txt', index=False, sep=' ')

Считаем данные из файла `countries.txt` в переменную `txt_df`  (объект *DataFrame*), применив функцию `read_table()` с параметрами `sep=' '`  и  `index_col=['country']` (так мы избавимся от столбца с индексом и присвоим названия строкам, используя данные одного из столбцов). Выводим на экран полученный результат:

In [3]:
# Загружаем данные из файла в переменную, создавая объект DataFrame
txt_df = pd.read_table('data/countries.txt', sep=' ', index_col=['country'])
# Выводим содержимое на экран
display(txt_df)

           population    square
country
Англия          56.29    133396
Канада          38.05   9984670
США            322.28   9826630
Россия         146.24  17125191
Украина         45.50    603628
Беларусь         9.50    207600
Казахстан       17.04   2724902

##### <center> ПРИМЕНЕНИЕ ПАРАМЕТРА HEADER

Используя параметр `header`, при создании *DataFrame* мы учитываем наличие/отсутствие строки заголовков в исходном файле данных.

Например, если при считывании данных из ранее сохранённого в папке `data` файла `melb_data_ps.csv` указать значение параметра `header=None`, то первая строка исходного файла не будет восприниматься как строка заголовка и будет отнесена к области данных *DataFrame*:

In [5]:
# Загружаем данные
melb_data = pd.read_csv('data\melb_data_ps.csv', header=None)
# Выводим на экран
display(melb_data)

<>:2: SyntaxWarning: invalid escape sequence '\m'
<>:2: SyntaxWarning: invalid escape sequence '\m'
C:\Users\Admin\AppData\Local\Temp\ipykernel_8520\154490200.py:2: SyntaxWarning: invalid escape sequence '\m'
  melb_data = pd.read_csv('data\melb_data_ps.csv', header=None)

                                                   0
0         version https://git-lfs.github.com/spec/v1
1  oid sha256:551bf93c605f928f5b26931ca70495579b3...
2                                       size 2355203