### <center>  1. Получаем все данные из таблицы

✍ Как вы помните, данные в БД хранятся в таблицах. В этом модуле мы будем работать с таблицей [kinopoisk](http://sql.skillfactory.ru:3000/question#eyJkYXRhc2V0X3F1ZXJ5Ijp7ImRhdGFiYXNlIjoyLCJxdWVyeSI6eyJzb3VyY2UtdGFibGUiOjcwfSwidHlwZSI6InF1ZXJ5In0sImRpc3BsYXkiOiJ0YWJsZSIsInZpc3VhbGl6YXRpb25fc2V0dGluZ3MiOnt9fQ==): она содержит данные о 250 лучших фильмах по версии сервиса «Кинопоиск» (рейтинг собран в мае 2020 года).

Отправляем запрос

```sql
SELECT *
FROM sql.kinopoisk
```

**Разбираем запрос**

→ Оператор `SELECT` сообщает СУБД, что вы хотите извлечь из неё данные. `SELECT` лежит в основе любого *SQL*-запроса к БД.

→ `FROM sql.kinopoisk` сообщает, из какой таблицы извлекаются данные. Сначала указывается название схемы, в которой содержится таблица (в нашем случае — это *`sql`*), а после точки — название самой таблицы (`kinopoisk`).

→ Звёздочка `*` указывает, что вы хотите видеть все столбцы этой таблицы.

Если же вам нужны не все столбцы, а только некоторые, вместо звёздочки перечислите названия всех интересующих вас столбцов **через запятую**.

>**Важно!** SQL нечувствителен к регистру, поэтому ключевые слова можно писать хоть строчными, хоть прописными буквами: `SELECT`, `select` или `SeLeCt`.

**Задание 1.1**

Напишите запрос, который выведет из таблицы kinopoisk столбцы с названием фильма, годом его выпуска и рейтингом.

```sql
SELEST movie_title, year, rating
FROM sql.kinopoisk
```

Независимо от того, в каком порядке представлены столбцы в таблице, в запросе вы можете указывать их в любой очерёдности.

Порядок столбцов в выводе будет совпадать с их расположением после оператора `SELECT`.

Проведём несколько математических операций с нашим выводом.

Напишем запрос для вывода "возраста" фильма на момент 2020 года

**Запрос**

```SQL
SELEST
    movie title,
    2020 - year,
    rating
FROM sql.kinopoisk
```

**Детализация**

```sql
SELEST /*выбор столбцов*/
    movie_title, /*столбец movie_title*/
    2020 - year, /*столбец, каждое из значений которого равно разнице 2020 т соответствующего значения столбца year*/
    rating /*столбец rating*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
```

Что мы видим?

Столбец с вычислениями в выводе называется `?column?`, потому что *Metabase* не смог подобрать для него название.

Давайте наведём порядок и переименуем столбец!

Для этого используем ключевое слово `AS` и поставим после него новое имя `difference`. Можем повторить этот процесс для каждого столбца.

**Запрос**

```sql
SELECT
    director,
    movie_title,
    10 - reting AS difference
FROM sql.kinopoisk
```

**Детализация**

```sql
SELECT /*выбрать столбцы*/
    director, /*столбец director*/
    movie_title, /*столбец movie_title*/
    10 - rating AS difference /*столбец, значения в котором равны разнице 10 и каждого соответствующего значения столбца rating; присвоить столбцу алиас difference*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
```

Новое имя является просто псевдонимом, или `алиасом`, — оно **временное** и не меняет реального имени столбца в базе данных. Алиас влияет только на то, *как столбец отображается в выводе конкретного запроса*.

**Алиас** — имя, назначенное источнику данных в запросе при использовании выражения в качестве источника данных или для упрощения ввода и прочтения инструкции *SQL*.

Алиасом может быть как одно слово, так и несколько, а его написание — как латиницей, так и кириллицей.

>**Обратите внимание!** Если в алиасе используются пробелы, необходимо заключать весь псевдоним в двойные кавычки, например, `movie_title AS "Movie Title"`.

⚡ Будьте внимательны! При выполнении заданий в рамках курса используйте алиасы аккуратно. Если в задаче не указано, какое имя нужно присвоить столбцу, значит, его нужно выводить под тем же названием, что дано ему в таблице

##### <center> ПРОСТЫЕ ОПЕРАЦИИ С ДАННЫМИ

Со столбцами, которые содержат числовые данные, можно проводить арифметические операции:

- сложение с помощью `+` ;
- вычитание с помощью `-` (этот тип операции вы уже проводили, когда определяли «возраст» фильма);
- умножение с помощью `*` ;
- деление с помощью `/` ;

>**Важно!** Если и числитель, и знаменатель — целые числа, результат деления также будет целочисленным, то есть этот оператор произведёт деление нацело.

- получение остатка от деления с помощью `%` .

С полным перечнем доступных арифметических операций вы можете ознакомиться в [официальной документации](https://postgrespro.ru/docs/postgresql/11/functions-math).

Давайте выведем для каждого фильма результат деления года его выпуска на рейтинг (что бы это ни значило :)).

**Запрос**

```sql
SELECT
    movie_title,
    year / rating
FROM sql.kinopoisk
```

**Детализация**

```sql
SELECT /*выбрать столбцы*/
    movie_title, /*столбец movie_title*/
    year / rating /*столбец, значения которого равны результату деления значений столбца year на соответствующие значения столбца rating*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
```