### <center>  1. Получаем все данные из таблицы

✍ Как вы помните, данные в БД хранятся в таблицах. В этом модуле мы будем работать с таблицей [kinopoisk](http://sql.skillfactory.ru:3000/question#eyJkYXRhc2V0X3F1ZXJ5Ijp7ImRhdGFiYXNlIjoyLCJxdWVyeSI6eyJzb3VyY2UtdGFibGUiOjcwfSwidHlwZSI6InF1ZXJ5In0sImRpc3BsYXkiOiJ0YWJsZSIsInZpc3VhbGl6YXRpb25fc2V0dGluZ3MiOnt9fQ==): она содержит данные о 250 лучших фильмах по версии сервиса «Кинопоиск» (рейтинг собран в мае 2020 года).

Отправляем запрос

```sql
SELECT *
FROM sql.kinopoisk
```

**Разбираем запрос**

→ Оператор `SELECT` сообщает СУБД, что вы хотите извлечь из неё данные. `SELECT` лежит в основе любого *SQL*-запроса к БД.

→ `FROM sql.kinopoisk` сообщает, из какой таблицы извлекаются данные. Сначала указывается название схемы, в которой содержится таблица (в нашем случае — это *`sql`*), а после точки — название самой таблицы (`kinopoisk`).

→ Звёздочка `*` указывает, что вы хотите видеть все столбцы этой таблицы.

Если же вам нужны не все столбцы, а только некоторые, вместо звёздочки перечислите названия всех интересующих вас столбцов **через запятую**.

>**Важно!** SQL нечувствителен к регистру, поэтому ключевые слова можно писать хоть строчными, хоть прописными буквами: `SELECT`, `select` или `SeLeCt`.

**Задание 1.1**

Напишите запрос, который выведет из таблицы kinopoisk столбцы с названием фильма, годом его выпуска и рейтингом.

```sql
SELEST movie_title, year, rating
FROM sql.kinopoisk
```

Независимо от того, в каком порядке представлены столбцы в таблице, в запросе вы можете указывать их в любой очерёдности.

Порядок столбцов в выводе будет совпадать с их расположением после оператора `SELECT`.

Проведём несколько математических операций с нашим выводом.

Напишем запрос для вывода "возраста" фильма на момент 2020 года

**Запрос**

```SQL
SELEST
    movie title,
    2020 - year,
    rating
FROM sql.kinopoisk
```

**Детализация**

```sql
SELEST /*выбор столбцов*/
    movie_title, /*столбец movie_title*/
    2020 - year, /*столбец, каждое из значений которого равно разнице 2020 т соответствующего значения столбца year*/
    rating /*столбец rating*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
```

Что мы видим?

Столбец с вычислениями в выводе называется `?column?`, потому что *Metabase* не смог подобрать для него название.

Давайте наведём порядок и переименуем столбец!

Для этого используем ключевое слово `AS` и поставим после него новое имя `difference`. Можем повторить этот процесс для каждого столбца.

**Запрос**

```sql
SELECT
    director,
    movie_title,
    10 - reting AS difference
FROM sql.kinopoisk
```

**Детализация**

```sql
SELECT /*выбрать столбцы*/
    director, /*столбец director*/
    movie_title, /*столбец movie_title*/
    10 - rating AS difference /*столбец, значения в котором равны разнице 10 и каждого соответствующего значения столбца rating; присвоить столбцу алиас difference*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
```

Новое имя является просто псевдонимом, или `алиасом`, — оно **временное** и не меняет реального имени столбца в базе данных. Алиас влияет только на то, *как столбец отображается в выводе конкретного запроса*.

**Алиас** — имя, назначенное источнику данных в запросе при использовании выражения в качестве источника данных или для упрощения ввода и прочтения инструкции *SQL*.

Алиасом может быть как одно слово, так и несколько, а его написание — как латиницей, так и кириллицей.

>**Обратите внимание!** Если в алиасе используются пробелы, необходимо заключать весь псевдоним в двойные кавычки, например, `movie_title AS "Movie Title"`.

⚡ Будьте внимательны! При выполнении заданий в рамках курса используйте алиасы аккуратно. Если в задаче не указано, какое имя нужно присвоить столбцу, значит, его нужно выводить под тем же названием, что дано ему в таблице

##### <center> ПРОСТЫЕ ОПЕРАЦИИ С ДАННЫМИ

Со столбцами, которые содержат числовые данные, можно проводить арифметические операции:

- сложение с помощью `+` ;
- вычитание с помощью `-` (этот тип операции вы уже проводили, когда определяли «возраст» фильма);
- умножение с помощью `*` ;
- деление с помощью `/` ;

>**Важно!** Если и числитель, и знаменатель — целые числа, результат деления также будет целочисленным, то есть этот оператор произведёт деление нацело.

- получение остатка от деления с помощью `%` .

С полным перечнем доступных арифметических операций вы можете ознакомиться в [официальной документации](https://postgrespro.ru/docs/postgresql/11/functions-math).

Давайте выведем для каждого фильма результат деления года его выпуска на рейтинг (что бы это ни значило :)).

**Запрос**

```sql
SELECT
    movie_title,
    year / rating
FROM sql.kinopoisk
```

**Детализация**

```sql
SELECT /*выбрать столбцы*/
    movie_title, /*столбец movie_title*/
    year / rating /*столбец, значения которого равны результату деления значений столбца year на соответствующие значения столбца rating*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
```

### <center> 2. Фильтруем строки

##### <center> WHERE

Если мы хотим видеть только некоторые **строки**, нам понадобится ключевое слово `WHERE`.

Получим для примера всю информации о фильме, занимающем первую позицию.

**Запрос**

```sql
SELECT *
FROM sql.kinopoisk
WHERE position = 1
```

**Детализация**

```sql
SELECT * /*выбор всех столбцов*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
WHERE position = 1 /*с позицией 1*/
```

**Задание 2.1**

Напишите запрос, чтобы вывести все столбцы для фильмов, которые вышли в прокат в 1999 году.

```sql
SELECT *
FROM sql.kinopoisk
WHERE year = 1999
```

В запросах выше мы использовали знак равно (`=`), но никто не запретит нам использовать и условные операторы.

Вы можете применять знаки `<` (меньше), `<=` (меньше или равно), `>` (больше), `>=` (больше или равно).

Посмотрим на фильмы, которые вышли в прокат до 1984 года.

**Запрос**

```sql
SELECT
    position,
    movie_title,
    year,
    director
FROM sql.kinopoisk
WHERE year < 1984
```

**Детализация**

```sql
SELECT /*выбор всех полей*/
    position, /*столбец position*/
    movie_title, /*столбец movie_title*/
    year, /*столбец year*/
    director /*столбец director*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
WHERE year < 1984 /*при условии, что год создания меньше 1984*/
```

Ещё один условный оператор, который нам доступен, — знак неравенства `!=` или `<>`.

Выведем все столбцы для всех фильмов, **кроме тех**, что были сняты в 2000 году.

**Запрос**

```sql
SELECT *
FROM sql.kinopoisk
WHERE year <> 2000
```

##### <center> AND И OR

Допустим, одного условия нам мало.


В таком случае мы можем комбинировать их с помощью `AND` и `OR`.

**Запрос**

```sql
SELECT *
FROM sql.kinopoisk
WHERE year >= 2000 /*Выводим выльмы, вышедшие после 2000 года*/
AND rating >= 8 /*И с рейтингом больше 8*/
```

Теперь вы хотите получить информацию о фильмах, которые **вышли между 1975 и 1985 годами включительно**. Можно воспользоваться следующим запросом:

```sql
SELECT *
FROM sql.kinopoisk
WHERE year >=1975
AND year <= 1985
```

##### <center> BETWEEN

Оптимизируем запись предыдущего примера

```sql
SELECT *
FROM sql.kinopoisk
WHERE year BETWEEN 1975 AND 1985
```

>**Обратите внимание!** В PostgreSQL указанные значения включаются в интервал. В других СУБД `BETWEEN` может работать иначе и не включать указанные значения.

##### <center> NOT

В дополнение к другим операторам можно использовать ключевое слово `NOT` — оно «переворачивает» следующий за ним оператор.

```sql
SELECT *
FROM sql.kinopoisk
WHERE year NOT BETWEEN 1965 AND 1980 /*все фильмы, кроме тех, что вышли с 1965 по 1980 годы*/
```

Если включаете в запрос несколько условий `AND` и `OR`, используйте **скобки**: они работают так же, как и с арифметическими операциями.

``` sql
SELECT
    year,
    movie_title,
    director
FROM sql.kinopoisk
WHERE (rating > 8.5 AND year < 2000) OR year >= 2000
```

##### <center> IN

```sql
column IN (value1, value2, value3)
```

Запись с оператором `IN` аналогична следующей: `column = value1 OR column = value2 OR column = value3` — но выглядит проще и компактнее.

**Задание 2.4**

Напишите запрос, который выводит названия фильмов, вышедших в прокат в 2000, 1985 и 1939 годах.

```sql
SELECT
    movie_title
FROM sql.kinopoisk
WHERE year IN (2000, 1985, 1939)
```

До этого при работе с `WHERE` мы использовали только числа, но мы можем проводить манипуляции и c данными типа *текст*.

>**Обратите внимание!** Текстовые значения обязательно должны заключаться в одинарные кавычки.

Давайте получим информацию о всех фильмах Леонида Гайдая.

```SQL
SELECT *
FROM sql.kinopoisk
WHERE director = 'Леонид Гайдай'
```

**Важно!** В текстовых полях важен регистр

##### <center> LIKE

`LIKE` - Оператор, который показывает строки с определенным текстовым значением

```sql
SELECT *
FROM sql.kinopoisk
WHERE movie_title LIKE 'А%'/*если название фильма начинается на А*/
```
Знак процента (%) в примере показывает, что после A встречается ноль и более символов. Его можно использовать % в любом месте внутри строки.
```sql
movie_title LIKE '%а%б%' /* выведет все фильмы, в названии которых встречается строчная буква *а*, а где-то после нее - *б* */


Также в текстовых строках используется знак подчёркивания (`_`) — он заменяет ровно один любой символ.

**Задание 2.5**

Напишите запрос, чтобы вывести название и год выпуска в прокат тех фильмов, которые были сняты режиссёром по имени Дэвид (то есть значение в поле `director` начинается с 'Дэвид') и имеют рейтинг больше 8.

```sql
SELECT
    movie_title,
    year
FROM sql.kinopoisk
WHERE (director LIKE 'Дэвид%') AND rating > 8
```

##### <center> NULL

`NULL` - Обозначение для пустых значений. При этом нельзя просто приравнять значение к `NULL`

```sql
SELECT *
FROM sql.kinopoisk
WHERE overviw IS NULL /*если у фильма отсутствует описание*/
```

**НО НЕ**

```sql
SELECT *
FROM sql.kinopoisk
WHERE overview = NULL /*Мы не можем приравнивать значение к null*/
```

Вы можете добавить к условию уже изученное ключевое слово `NOT`, чтобы получилось `overview IS NOT NULL`, тогда в выводе вы увидите только фильмы с заполненным описанием.

>**Важно!** `NULL` — это специальное значение. Если вы фильтруете столбец, в котором есть пустые значения, по любому условию, кроме `IS NULL` / `IS NOT NULL`, такие значения будут исключены из вывода.

### <center> 3. Сортировка

##### <center> ORDER BY

Чтобы задать порядок вывода строк в запросе, применим новое ключевое слово `ORDER BY`.

Для примера отсортируем фильмы по их названию в алфавитном порядке.

```sql
SELECT *
FROM sql.kinopoisk
ORDER BY movie_title
```

Произведем сортировку рейтинга по возрастанию

```sql
SELECT *
FROM sql.kinopoisk
ORDER BY rating
```

**ИЛИ**
```sql
SELECT *
FROM sql.kinopoisk
ORDER BY rating ASC
```

Для обратного порядка используется ключевое слово `DESC` (англ. *descending*).

Выведем названия, имена режиссёров и сценаристов, а также год выхода в прокат фильмов, выпущенных в СССР, и отсортируем результат по убыванию рейтинга.

```sql
SELECT 
    movie_title,
    director,
    screenwriter,
    year
FROM sql.kinopoisk
WHERE country = 'СССР'
ORDER BY rating DESC /*сортировка по рейтингу в порядке убывания*/
```

>**Обратите внимание!** Ключевое слово `ORDER BY` идёт после применения всех условий в `WHERE`.

Также в `ORDER BY` можно указывать, где должны идти пустые значения — в начале или в конце.

Такая настройка порядка вывода задаётся с помощью ключевых слов `NULLS FIRST` / `NULLS LAST`.

```sql
SELECT
    movie_title,
    rating,
    overview,
    year
FROM sql.kinopoisk
ORDER BY overview NULLS FIRST
```

>Вы можете сортировать вывод по нескольким столбцам, просто указав их через запятую в `ORDER BY` (порядок сортировки указывается отдельно для каждого столбца).

Кроме того, вы можете сортировать результат запроса и по тем столбцам, которых нет в выводе.

Получили список всех режиссёров и фильмов из ТОП-250, отсортированных по году выхода в прокат, а внутри года — по рейтингу в порядке убывания.

```sql
SELECT
    director,
    movie_title
FROM sql.kinopoisk
ORDER BY year, rating DESC /*сортировка по столбцам year и rating в порядке убывания*/
```

Для упрощения работы с `ORDER BY` можно использовать не названия столбцов, а их номера из вывода.

```sql
SELECT
    director,
    movie_title,
    year
FROM sql.kinopoisk
ORDER BY 1, 3 DESC
```

Сортировку по номеру столбца стоит использовать с осторожностью, поскольку при изменении вывода в `SELECT` всё может сбиться.

>При добавлении новых столбцов в `SELECT` нужно проверить и при необходимости поправить номера столбцов в `ORDER BY`.

### <center> 4. Ограничение вывода

##### <center> LIMIT

`LIMIT` - Ключевое слово, ограничивающее вывод

```sql
SELECT *
FROM sql.kinopoisk
LIMIT 10 /*ограничить вывод десятью значениями*/
```

Ограничим вывод первыми десятью строками и сможем легко понять, какие данные хранятся в таблице, не утяжеляя результат.

##### <center> OFFSET

Если `LIMIT` «оставляет» указанное число первых строк из вывода, то `OFFSET`, наоборот, «обрезает» указанное число первых строк.

```sql
SELECT 
    movie_title,
    rating
FROM sql.kinopoisk
ORDER BY rating DESC /*сортировка по столбцу rating в порядке убывания*/
OFFSET 3 LIMIT 5 /*исключить первые три строки и вывести пять следующих за ними*/
```

`LIMIT` и `OFFSET` можно использовать вместе, их порядок не важен.

Таким образом, `LIMIT` отсчитывает количество строк после указанной в `OFFSET` строки.

**Задание 5.1**

Какой режиссёр снял самый старый фильм в списке?
```sql
SELECT director
FROM sql.kinopoisk
ORDER BY year ASC
```

**Задание 5.2**

В каком году был выпущен фильм, который занимает 111 строку в списке, отсортированном по рейтингу в порядке убывания?

```sql
SELECT year
FROM sql.kinopoisk
ORDER BY rating DESC
OFFSET 110 LIMIT 1
```

**Задание 5.3**

Напишите запрос, который выводит столбцы «Название фильма» (movie_title), «Режиссёр» (director), «Сценарист» (screenwriter), «Актёры» (actors). Оставьте только те фильмы, у которых:

рейтинг между 8 и 8.5 (включительно) ИЛИ год выхода в прокат до 1990;
есть описание;
название начинается не с буквы 'Т';
название состоит ровно из 12 символов.
Оставьте только топ-7 фильмов, отсортированных по убыванию рейтинга.

```sql
SELECT 
    movie_title,
    director,
    screenwriter,
    actors
FROM sql.kinopoisk
WHERE (rating BETWEEN 8 AND 8.5 OR year < 1990) 
    AND overview IS NOT NULL
    AND movie_title NOT LIKE 'T%'
    AND CHAR_LENGTH(movie_title) = 12 /*Название состоит ровно из 12 символов. Используйте CHAR_LENGTH() или LENGTH()*/
ORDER BY rating DESC
LIMIT 7
```