`DISTINCT` - Ключевое слово, позволяющее получить уникальные значения из столбца

>**Обратите внимание!** `DISTINCT` пишется только один раз, в начале списка получаемых столбцов.

```sql
SELECT DISTINCT
    type1,
    type2
FROM sql.pokemon
```

```sql
SELECT DISTINCT /*выбрать уникальные значения*/
    type1, /*столбец type1*/
    type2 /*столбец type2*/
FROM sql.pokemon
```

`COUNT` - Агрегатная функция для подсчета количества строк в таблице

```sql
SELECT
    COUNT(*)
FROM sql.pokemon /*считаются все строки, которые возвращает запрос*/
```

Внутри функции `COUNT` мы можем также применять `DISTINCT`, чтобы вычислить количество уникальных значений.

```sql
SELECT
    COUNT(DISTINCT type1)
FROM sql.pokemon
```

**Основные агрегатные функции:**

- `COUNT` — вычисляет число непустых строк;
- `SUM` — вычисляет сумму;
- `AVG` — вычисляет среднее;
- `MAX` — вычисляет максимум;
- `MIN` — вычисляет минимум.

`GROUP BY` - Ключевое слово для вывода различных групп строк

```sql
SELECT /*выбор*/
    type1 AS pokemon_type, /*столбец type1; присвоить алиас pokemon_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк; присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY type1 /*группировка по столбцу type1*/
ORDER BY type1 /*сортировка по столбцу type1*/
```

`GROUP BY` можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию `DISTINCT`.

```sql
SELECT DISTINCT
    type1
FROM sql.pokemon
```
**=**
```sql
SELECT
    type1
FROM sql.pokemon
GROUP BY type1
```

`HAVING` - Ключевое слово, применяемое для фильтрации **уже аггрегированных** данных.

>**Важно!** `HAVING` обязательно пишется после `GROUP BY`.

```sql
SELECT
    type1 AS primary_type,
    AVG(attack) AS avg_attack
FROM sql.pokemon
GROUP BY primary_type /*группировать по столбцу primary_type*/
HAVING AVG(attack) > 90/*фильтровать по среднему значению attack, превышающему 90*/
```

Синтаксис оператора `SELECT` в общем виде

```sql
SELECT [ALL | DISTINCT] список столбцов|*
FROM список_имен_таблиц
[WHERE Условие_поиска]
[GROUP BY список_имен столбцов]
[HAVING условие_поиска]
[ORDER BY имя_столбца [ASC | DESC],...]
```

>**Обратите внимание!** В квадратных скобках указаны 
необязательные предложения: они могут отсутствовать в 
операторе `SELECT`.

ИТОГО: СТРУКТУРА SQL ЗАПРОСА

```sql
SELECT
    столбец1 AS новое_название,
    столбец2,
    АГРЕГАТ(столбец3)
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
GROUP BY столбец1, столбец2
HAVING АГРЕГАТ(столбец3) > 5
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2
```