`DISTINCT` - Ключевое слово, позволяющее получить уникальные значения из столбца

>**Обратите внимание!** `DISTINCT` пишется только один раз, в начале списка получаемых столбцов.

```sql
SELECT DISTINCT
    type1,
    type2
FROM sql.pokemon
```

```sql
SELECT DISTINCT /*выбрать уникальные значения*/
    type1, /*столбец type1*/
    type2 /*столбец type2*/
FROM sql.pokemon
```

`COUNT` - Агрегатная функция для подсчета количества строк в таблице

```sql
SELECT
    COUNT(*)
FROM sql.pokemon /*считаются все строки, которые возвращает запрос*/
```

Внутри функции `COUNT` мы можем также применять `DISTINCT`, чтобы вычислить количество уникальных значений.

```sql
SELECT
    COUNT(DISTINCT type1)
FROM sql.pokemon
```

**Основные агрегатные функции:**

- `COUNT` — вычисляет число непустых строк;
- `SUM` — вычисляет сумму;
- `AVG` — вычисляет среднее;
- `MAX` — вычисляет максимум;
- `MIN` — вычисляет минимум.

`GROUP BY` - Ключевое слово для вывода различных групп строк

```sql
SELECT /*выбор*/
    type1 AS pokemon_type, /*столбец type1; присвоить алиас pokemon_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк; присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY type1 /*группировка по столбцу type1*/
ORDER BY type1 /*сортировка по столбцу type1*/
```

`GROUP BY` можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию `DISTINCT`.

```sql
SELECT DISTINCT
    type1
FROM sql.pokemon
```
**=**
```sql
SELECT
    type1
FROM sql.pokemon
GROUP BY type1
```

`HAVING` - Ключевое слово, применяемое для фильтрации **уже аггрегированных** данных.

>**Важно!** `HAVING` обязательно пишется после `GROUP BY`.

```sql
SELECT
    type1 AS primary_type,
    AVG(attack) AS avg_attack
FROM sql.pokemon
GROUP BY primary_type /*группировать по столбцу primary_type*/
HAVING AVG(attack) > 90/*фильтровать по среднему значению attack, превышающему 90*/
```

Синтаксис оператора `SELECT` в общем виде

```sql
SELECT [ALL | DISTINCT] список столбцов|*
FROM список_имен_таблиц
[WHERE Условие_поиска]
[GROUP BY список_имен столбцов]
[HAVING условие_поиска]
[ORDER BY имя_столбца [ASC | DESC],...]
```

>**Обратите внимание!** В квадратных скобках указаны 
необязательные предложения: они могут отсутствовать в 
операторе `SELECT`.

ИТОГО: СТРУКТУРА SQL ЗАПРОСА

```sql
SELECT
    столбец1 AS новое_название,
    столбец2,
    АГРЕГАТ(столбец3)
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
GROUP BY столбец1, столбец2
HAVING АГРЕГАТ(столбец3) > 5
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2
```

`LEFT JOIN` - Оператор присоединения таблицы, при котором исходная таблица оказывается слева от присоединяемой

>Для `LEFT JOIN` работает следующее **правило**: *из левой (относительно оператора) таблицы сохраняются все строки, а из правой добавляются только те, которые соответствуют условию соединения*. Если в правой таблице не находится соответствия, то значения строк второй таблицы будут иметь значение `NULL`.

```sql
SELECT
    t.long_name,
    m.id
FROM 
    sql.teams as t
    LEFT JOIN sql.matches as m ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
ORDER BY m.id DESC
```

>**Обратите внимание!** При применении функций `SUM`, `MIN`, `MAX`, `AVG` к полям со значением **NULL** в результате получится **NULL**, а не 0. А при использовании функции `COUNT`, наоборот, получится 0.

`FULL OUTER JOIN` - Оператор, который объединяет в себе `LEFT` и `RIGHT JOIN` и позволяет сохранить кортежи обеих таблиц. Даже если не будет соответствий, мы сохраним все записи из обеих таблиц.

Он может быть полезен в ситуациях, когда схема данных недостаточно нормализована и не хватает таблиц-справочников.

Синтаксис FULL OUTER JOIN аналогичен другим JOIN.

```sql
SELECT 
…
FROM
	table1
FULL OUTER JOIN table2 ON условие
```

`CROSS JOIN` - Оператор, который соединяет таблицы так, что каждая запись в первой таблице присоединяется к каждой записи во второй таблице, иначе говоря, **даёт декартово произведение.**

```sql
SELECT * /*выбор всех полей*/
FROM
    sql.teams /*таблица teams*/
    CROSS JOIN sql.matches /*таблица matches*/
```
**РАВНОЗНАЧНО:**

```sql
SELECT *
FROM
    sql.teams,
    sql.matches
```
**РАВНОЗНАЧНО:**

```sql
SELECT *
FROM
    sql.teams
    JOIN sql.matches ON TRUE
```

>**Обратите внимание!** Условие для `CROSS JOIN`, в отличие от других операторов, не требуется.

**CROSS JOIN** может быть полезен, когда необходимо создать таблицу фактов.

Например, с помощью такого запроса мы можем получить **все возможные комбинации полных названий команд в матчах.**

`NATURAL JION` - Оператор, который для соединения таблиц использует столбцы с одинаковыми названиями из этих таблиц. Позволяет не указывать условия соединения. Когда у таблиц есть несколько столбцов с одинаковыми именами, при `NATURAL JOIN` условие соединения будет применено на все столбцы с одинаковыми именами.

`NATURAL JOIN` можно использовать с любыми видами соединений, которые требуют условия соединения:

→ NATURAL INNER JOIN (возможна запись NATURAL JOIN);
→ NATURAL LEFT JOIN;
→ NATURAL RIGHT JOIN;
→ NATURAL FULL OUTER JOIN.

**Не подходит для соединения по ключам**

для таблиц `table1` и `table2`

`table1: id, name, ...`
`table2: id, name, ...`
**запрос**

```sql
SELECT 
…
FROM          table1 NATURAL JOIN table2
```
будет **равнозначен** запросу

```sql
SELECT
…
FROM          table1 t1
INNER JOIN table2 t2 ON t1.id = t2.id AND t1.name = t2.name
```

**ВИДЫ JOIN'ОВ**

- `CROSS JOIN` соединяет таблицы так, что каждая запись в первой таблице присоединяется к каждой записи во второй таблице ― иначе говоря, даёт декартово произведение.

- `INNER JOIN` — это тот же `JOIN` (слово `INNER` в операторе можно опустить).

Для `INNER JOIN` работает следующее **правило**: присоединяются только те строки таблиц, которые удовлетворяют условию соединения. Если в любой из соединяемых таблиц находятся такие строки, которые не удовлетворяют заявленному условию, — они отбрасываются.

- Ключевое слово `NATURAL` в начале оператора `JOIN` позволяет не указывать условие соединения таблиц — для соединения будут использованы столбцы с одинаковым названием из этих таблиц.

`NATURAL JOIN` можно использовать **с любыми видами соединений, которые требуют определённого условия:**

  - NATURAL INNER JOIN (возможна запись NATURAL JOIN);
  - NATURAL LEFT JOIN;
  - NATURAL RIGHT JOIN;
  - NATURAL FULL OUTER JOIN.

При использовании `NATURAL JOIN` прежде всего стоит обратить внимание на **ключи таблиц.**

*Когда у таблиц есть несколько столбцов с одинаковыми именами, при NATURAL JOIN условие соединения будет применено на все столбцы с одинаковыми именами.*

- Для `LEFT JOIN` работает следующее **правило**: из левой (относительно оператора) таблицы сохраняются все строки, а из правой добавляются только те, которые соответствуют условию соединения. Если в правой таблице не находится соответствия, то значения строк второй таблицы будут иметь значение **NULL**.

`LEFT JOIN` полезен, когда соответствующих записей во второй таблице может не быть, но важно сохранить записи из первой таблицы.

Чтобы из `LEFT JOIN` получить `RIGHT JOIN`, нужно просто поменять порядок соединения таблиц.

- `FULL OUTER JOIN` объединяет в себе `LEFT` и `RIGHT JOIN` и позволяет **сохранить кортежи обеих таблиц**. Даже если не будет соответствий, мы сохраним все записи из обеих таблиц.

`FULL OUTER JOIN` может быть полезен в ситуациях, когда *схема данных недостаточно нормализована* и не хватает таблиц-справочников.

**Пример**: в базе данных интернет-магазина есть две таблицы — с зарегистрированными пользователями и пользователями, оформившими заказ. При этом оформить заказ можно без регистрации, а зарегистрироваться — без оформления заказа.

Предположим, что вам необходимо получить полный список пользователей — и оформивших заказ, и зарегистрированных, — но в базе данных этой объединённой таблицы нет. В данном случае можно использовать `FULL OUTER JOIN` для получения полного списка, соединив таким образом таблицы c заказами и регистрациями по `id` пользователя.

- Для `RIGHT JOIN` работает следующее правило: из правой (относительно оператора) таблицы сохраняются все строки, а из левой добавляются только те, которые соответствуют условию соединения. Если в левой таблице не находится соответствия, то значения строк второй таблицы будут иметь значение `NULL`.

`RIGHT JOIN` полезен, когда соответствующих записей во второй таблице может не быть, но важно сохранить записи из первой таблицы.

Чтобы из `RIGHT JOIN` получить `LEFT JOIN`, нужно просто поменять порядок соединения таблиц.

>Вообще, применение `RIGHT JOIN` считается дурным тоном, так как язык SQL читается и пишется слева направо, и этот оператор усложняет чтение запросов.