`UNION` - Оператор присоединения, выводит только уникальные записи

>**Важно!** `UNION` оставляет только уникальные значения, а потому требует дополнительных вычислительных мощностей и памяти (в данном случае можно провести аналогию с `DISTINCT`). Поэтому если вы уверены в отсутствии дубликатов в данных или они вам не важны, предпочтительнее использовать `UNION ALL`.

`UNION ALL` — Присоединяет любой результат запроса к другому «снизу» при условии, что у них одинаковая структура, а именно:

- одинаковый тип данных;
- одинаковое количество столбцов;
- одинаковый порядок столбцов согласно типу данных.

`UNION ALL` присоединяет все строки последующих таблиц к предыдущим, без ограничений по уникальности.

**СИНТАКСИС**
```sql
SELECT         n columns
FROM 
         table_1
UNION ALL
SELECT 
         n columns
FROM 
         table_2
...
UNION ALL
SELECT 
         n columns
FROM 
         table_n
```

✍ Помимо соединения разнородных сущностей в единый справочник, `UNION ALL` часто используется для **подведения промежуточных итогов** и **выведения результатов агрегатных функций**.

Выведем обобщённые данные о населении по всем городам, с детализацией до конкретного города

```sql
SELECT
    c.city_name,
    c.population
FROM
    sql.city as c
UNION ALL
SELECT
    'total',
    SUM(c.population)
FROM
    sql.city c
ORDER BY 2 DESC
```

Выполнив запрос в Metabase, вы заметите, что сначала выведен итоговый результат с суммой населения всех городов в таблице, а затем по каждому городу в отдельности.

✍ UNION также может быть использован для разделения существующей выборки по критерию «выполнение определённого условия».

Например, с помощью `UNION` можно отобразить, у кого из водителей заполнен столбец с номером телефона.

```sql
SELECT
    d.first_name,
    d.last_name,
    'телефон заполнен' phone_info
FROM
    sql.driver d
WHERE d.phone IS NOT NULL
UNION
SELECT
    d.first_name,
    d.last_name,
    'телефон не заполнен' phone_info
FROM
    sql.driver d
WHERE d.phone IS NULL
```

**`UNION` для ручной генерации**

Составим запрос, который позволит вывести первые три буквы алфавита и их порядковые номера.

```sql
SELECT
    'a', letter, '1' ordinal_position
UNION
SELECT
    'b', '2'
UNION
SELECT
    'c', '3'
```

`EXCEPT` - Оператор присоединения, позволяющий из головной таблицы вычесть значения, имеющиеся в присоединяемой таблице. В результате мы оставляем записи первого запроса, за исключением тех, которые встречаются во стором запросе

**Синтаксические правила** для оператора `EXCEPT` такие же, как и для `UNION`:

- одинаковый тип данных;
- одинаковое количество столбцов;
- одинаковый порядок столбцов согласно типу данных.

**Синтаксис:**

```sql
SELECT 
    n columns
FROM 
    table_1
EXCEPT
SELECT 
    n columns
FROM 
    table_2
```

Вариант с `EXCEPT` будет полезен в тех случаях, когда у вас много столбцов и вам не хочется прописывать их равенство в условии для `JOIN`.

`INTERSECT` - Оператор присоединения, выводит результат пересечения таблиц.


**Синтаксис:**

```sql
SELECT 
         n columns
FROM 
         table_1
INTERSECT
SELECT 
         n columns
FROM 
         table_2
```

Например, вывести совпадающие по названию города и штаты:

```sql
SELECT          
    c.city_name object_name
FROM sql.city c
INTERSECT
SELECT 
    cc.state
FROM sql.city cc
ORDER BY 1
```

Как `EXCEPT`, так и INTERS`ECT убирают дубликаты, если они имеются.

**Общая структура запроса**

```sql
SELECT          N columns
FROM          table_1
UNION / UNION ALL / EXCEPT / INTERSECT 
SELECT          N columns
FROM          table_2
```