**Запрос**

```sql
SELECT
    movie_title,
    year / rating
FROM sql.kinopoisk
```

**Детализация**

```sql
SELECT /*выбрать столбцы*/
    movie_title, /*столбец movie_title*/
    year / rating /*столбец, значения которого равны результату деления значений столбца year на соответствующие значения столбца rating*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
```

`WHERE` - Фильтруем строки

**Запрос**

```sql
SELECT *
FROM sql.kinopoisk
WHERE position = 1
```

**Детализация**

```sql
SELECT * /*выбор всех столбцов*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
WHERE position = 1 /*с позицией 1*/
```

`<>`, `!=` - Неравенство

**Запрос**

```sql
SELECT *
FROM sql.kinopoisk
WHERE year <> 2000 /*Вывести все строки, кроме фильмов с датой выхода в 2000 году
```

`AND/OR` - Комбинирование признаков

**Запрос**

```sql
SELECT *
FROM sql.kinopoisk
WHERE year >= 2000 /*Выводим выльмы, вышедшие после 2000 года*/
AND rating >= 8 /*И с рейтингом больше 8*/
```

```sql
SELECT *
FROM sql.kinopoisk
WHERE year >= 1975 /* выводим фильмы, вышедшие после 1975 года*/
AND year <= 1985 /* но до 1985*/
```

`BETWEEN` - Фильтр строк, находящихся МЕЖДУ двумя значениями

```sql
SELECT *
FROM sql.kinopoisk
WHERE year BETWEEN 1975 AND 1985 
```

`NOT` — Ключевое слово, которое «переворачивает» следующий за ним оператор.

```sql
SELECT *
FROM sql.kinopoisk
WHERE year NOT BETWEEN 1965 AND 1980
```

`IN` - Оператор для фильтрации строк. 

```sql
column IN (value1, value2, value3)
```

Запись с оператором `IN` аналогична следующей: 
`column = value1 OR column = value2 OR column = value3` — но выглядит проще и компактнее.

`LIKE` - Оператор, который показывает строки с определенным текстовым значением

```sql
SELECT *
FROM sql.kinopoisk
WHERE movie_title LIKE 'А%'/*если название фильма начинается на А*/
```
Знак процента (%) в примере показывает, что после A встречается ноль и более символов. Его можно использовать % в любом месте внутри строки.
```sql
movie_title LIKE '%а%б%' /* выведет все фильмы, в названии которых встречается строчная буква *а*, а где-то после нее - *б* */

Также в текстовых строках используется знак подчёркивания (_) — он заменяет ровно один любой символ.

`NULL` - Обозначение для пустых значений. При этом нельзя просто приравнять значение к `NULL`

```sql
SELECT *
FROM sql.kinopoisk
WHERE overviw IS NULL /*если у фильма отсутствует описание*/
```

**НО НЕ**

```sql
SELECT *
FROM sql.kinopoisk
WHERE overview = NULL /*Мы не можем приравнивать значение к null*/
```

Вы можете добавить к условию уже изученное ключевое слово `NOT`, чтобы получилось `overview IS NOT NULL`, тогда в выводе вы увидите только фильмы с заполненным описанием.

`ORDER BY` - Ключевое слово, задает порядок вывода строк в запросе

```sql
SELECT *
FROM sql.kinopoisk
ORDER BY movie_title /* отсортируем фильмы в алфавитном порядке*/
```

**ИЛИ**

```sql
SELECT *
FROM sql.kinopoisk
ORDER BY rating ASC /* отсортируем по возрастанию*/
```

Для обратного порядка используется ключевое слово `DESC` (англ. *descending*).

Также можно указывать, где должны идти пустые значения — в начале (`NULLS FIRST`) или в конце (`NULLS LAST`).

`LIMIT` - Ключевое слово, ограничивающее вывод

```sql
SELECT *
FROM sql.kinopoisk
LIMIT 10 /*ограничить вывод десятью значениями*/
```

`OFFSET` - Ключевое слово, "обрезает" указанное число первых строк

```sql
SELECT 
    movie_title,
    rating
FROM sql.kinopoisk
ORDER BY rating DESC /*сортировка по столбцу rating в порядке убывания*/
OFFSET 3 LIMIT 5 /*исключить первые три строки и вывести пять следующих за ними*/
```

`LIMIT` и `OFFSET` можно использовать вместе, их порядок не важен.